<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bs.sys.dao.SysSpotDao">

	<select id="getRowCount"
			resultType="int">
		select count(*) from q_jd_table 
		<include refid="queryWhereId"/>
		
			
	</select>

	<sql id="queryWhereId">
		<where>
			<if test="jdname!=null and jdname!=''">
				jdname like concat("%",#{spotname},"%")
			</if>
		</where>
	</sql>
	<select id="findPageObjects"
			resultType="com.bs.sys.entity.SysSpot">
		select id,jdname,city_id,imgname,nr from q_jd_table 
		<include refid="queryWhereId"/>
		limit #{startIndex},#{pageSize}
	</select>











</mapper>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  