<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bs.sys.dao.SysUserDao">
	
	
	<!-- 用户更新操作(更新自身信息) -->
	<update id="updateObject">
		update sys_users
			<set>
				<if test="username!=null and username!=''">
					username=#{username},
				</if>
				<if test="email!=null and email!=''">
					email=#{email},
				</if>
				<if test="mobile!=null and mobile!=''">
					mobile=#{mobile},
				</if>
				<if test="deptId!=null and deptId!=''">
					deptId=#{deptId},
				</if>
				<if test="modifiedUser!=null and modifiedUser!=''">
					modifiedUser=#{modifiedUser},
				</if>
				modifiedTime=now()
			</set>
			where id=#{id}
	</update>
	
	<!-- 保存用户自身信息 -->
	<insert id="insertObject"
           parameterType="com.bs.sys.entity.SysUser"
           useGeneratedKeys="true"
           keyProperty="id">
      insert into user_info
      (user,email,phone,password,salt,regi_time,lin_time,
      lout_time,birthday,sign_self,photo,gender,update_password,zt)
      
      values
      (#{user},#{email},#{phone},#{password},#{salt},now(),now(),
      now(),#{birthday},#{sign_self},#{photo},#{gender},
      #{update_password},#{zt})
   </insert>
	
	
		<!-- 基于用户名查询用户对象 -->
	<select id="findUserByUserName" 
	resultType="com.bs.sys.entity.SysUser">
		select * from user_info where user=#{user}
	
	</select>
		
	<!-- 根据部门id统计用户数 -->
	<select id="getUserCountByDeptId" resultType="int">
		select count(*) from sys_users where deptId=#{deptId}
	
	</select>	
	
	
	
	<!-- 修改用户的状态信息(禁用和启用操作) -->
	<update id="validById">
		update sys_users
		set valid=#{valid},modifiedUser=#{modifiedUser},
			modifiedTime=now()
		where id=#{id}
	</update>
	<sql id="queryWhereId">
		<where>
			<if test="username!=null and username!=''">
				username like concat("%",#{username},"%")
			</if>
		</where>
	</sql>
	
	<!-- 按照名字统计记录总数 -->
	<select id="getRowCount"
			resultType="int">
			select count(*) from sys_users
			<include refid="queryWhereId"/>
	
	</select>
	
	
</mapper>











